<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>Find Palindrome Substring</title>
    <link
      rel="stylesheet"
      href="https://cdnjs.cloudflare.com/ajax/libs/skeleton/2.0.4/skeleton.min.css"
    />

    <style>
      .alert {
        background: green;
        padding: 1rem;
        border-radius: 5px;
        color: white;
        margin: 1rem;
      }
    </style>
  </head>

  <body>
    <div class="container">
      <h2>Flask API: Find Longest Palindrome Substring</h2>
    </div>

    <!-- Form -->
    <div class="container">
      <form action="/lengthPalindrome" method="POST">
        <label for="input">input</label>
        <input
          type="text"
          placeholder="Enter the input string"
          class="u-full-width"
          name="input"
        />

        <input type="submit" value="Find" id="calc_btn" />
        <br />
        <div class="alert">
          {{ results }}
        </div>
      </form>
    </div>

  </body>
</html>